* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



.flex-wrapper {
    width: 600px;
    background-color: #6a1212;
    border-radius: 10px;

    & .top {
        & h2 {
            margin-bottom: 15px;
        }

        & h3 {
            margin-bottom: 15px;
        }

        & p {}
    }

    & .card-footer {
        display: flex;

        & .left {
            width: 50%;
            background-color: #b1d21e;
            & h3 {
                margin-bottom: 15px;
            }
            & div {
                margin-bottom: 10px;
                & strong {

                } 
                & span {

                }  
            }
            & p {
                margin-bottom: 10px;
            }
            & button {
                padding: 20px 45px;
                border: none;
                background-color: #c92f2f;
            }
        }

        & .right {
            width: 50%;
            background-color: #af9b16;
            & h3 {
                margin-bottom: 15px;
            }
            & p {

            }
        }
    }
}






.top,
.left,
.right {
    padding: 20px;
}