* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    & .wrapper {
        width: 540px;
        background-color: coral;
        border-radius: 10px;
        & .header {
            & h2{
                margin-bottom: 16px;
            }
            & h3 {
                margin-bottom: 10px;
            }
            & p {

            }
        }
        & .inner-wrapper {
            display: flex;
            & .left {
                width: 50%;
                background-color: #b96767;
                & h3 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                & div {
                    margin-bottom: 20px;

                    & strong {
                        font-size: 28px;
                    }
                    & p {
                        font-size: 14px;
                        display: inline-block;
                    }
                }
                & p {
                    margin-bottom: 20px;

                }
                & button {
                    border: none;
                    border-radius: 8px;
                    background-color: #198f2c;
                    padding: 20px 50px;
                }
            }
            & .right {
                width: 50%;
                background-color: #5e2727;
                color: #fff;
                & h3 {
                    margin-bottom: 20px;
                }
                & p {

                }
            }
        }
    } 
}

.header, .left, .right {
    padding: 30px;
}



